/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-2, 13:27:44
    Author     : Baldwin
    reference  :https://www.jianshu.com/p/e139d449f5bb 
    sass全局变量
*/

/*
    background color 
    1.主页背景 2.内容背景
*/
$blogBackground: #F5F7F9, #FFF; 
/*
    blog width
    1.整体内容宽度 2.左边个人信息宽度
*/
$blogWidth : 960px, 260px;